<style>
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: green!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
  border-radius:8px;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  border-radius:8px;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8; 
  border-radius:8px;
}
</style>

<div class="content-body row">
<div id="sidebar" class="sidebar col-md-2">
    <div class="sidebar-new-schedule">
        <!-- create new schedule button -->
        <button id="btn-new-schedule" type="button" class="btn btn-primary btn-block sidebar-new-schedule-btn">
            New schedule
        </button>
    </div>
    <!-- sidebar calendar labels -->
    <div id="sidebar-calendars" class="sidebar-calendars">
        <div>
            <div class="sidebar-calendars-item">
                <!-- view All checkbox -->
                
               
<% @artistes.each do |artiste| %>


      <div class="checkbox">
        
          <input type="checkbox" id="<%= artiste.name.parameterize %>" class="checkbox-round <%= artiste.name.parameterize %>"/>
            
        <label for="<%= artiste.name.parameterize %>"><span class="rounded" style="border-color: rgb(71, 95, 123); background-color: rgb(71, 95, 123);"></span> <%= artiste.name %>
        
        </label>
        
        </div>
  
 
<% end %>
 <div class="myTest custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
    </div>

                </div>
                <!--<div id="calendarList" class="sidebar-calendars-d1"><div class="sidebar-calendars-item"><label style=""><input type="checkbox" class="tui-full-calendar-checkbox-round" value="1" checked=""><span style="border-color: rgb(0, 207, 221); background-color: rgb(0, 207, 221);"></span><span>My Calendar</span></label></div>
       </div>-->
        </div>
       
       
    </div>
    <!-- / sidebar calendar labels -->
</div>
<!-- calendar sidebar end -->
<!-- calendar view start  -->
</div>
<div class="calendar-view col-md-10" id="calendar"></div>


<div id="modalEngagements" class="modal">Test Modal box</div>
<script>
$(".eventtype").change(function() {

    if ($(this).val() == "Concert") {
      console.log('concert triggered');
      $(this).parent().siblings().children( ".eventend" ).hide();
    };
    // else if ($('#acc_type').val() == "savings") {rate = "0.8%";}
    // $('#interest').val(rate);
});


$('.events-filter-checkbox').on('change', function(){
    $('#calendar').fullCalendar('rerenderEvents');
});
</script>